# Documentos administrativos

/0 Administrativo

# Pycache

**__pycache__
*.pyc
*.pyo

# Movidas de github que no debería estar aquí
github-autentication-ssh-key
github-autentication-ssh-key.pub

# .git del repo de Gitea en ./6 Control de Versiones/0 Gitea

./6 Control de versiones/1 Gitea/.git

# Directorio de prueba de repos en /6 ramas-branches/practica-git/
/6 ramas-branches/practica-git/

# Otros archivos

*.api